@media (max-width: 1679px) {
  .hero {
    min-height: 750px;
    padding-top: 160px;
  }
}
@media (max-width: 1439px) {
  .hero {
    min-height: 675px;
    padding-top: 140px;
  }
}
@media (max-width: 1279px) {
  .hero {
    min-height: 680px;
  }
}
@media (max-width: 1023px) {
  .hero {
    min-height: 600px;
    padding-top: 120px;
  }
}
@media (max-width: 767px) {
  .hero {
    min-height: 420px;
    padding-top: 80px;
  }
}
@media (max-width: 479px) {
  .hero {
    min-height: 470px;
    padding-top: 110px;
  }
}

@media (max-width: 720px) {
  .hero::before {
    background-size: cover;
  }
}

@media (max-width: 767px) {
  @keyframes moveLine {
    0% {
      left: -60%;
    }
    100% {
      left: 100%;
    }
  }
}

@media (max-width: 1679px) {
  .hero .line-container:nth-child(1) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(1) {
    top: 15%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(1) {
    top: 30%;
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(1) {
    top: 35%;
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(1) {
    top: 40%;
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(1) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(1) {
    display: none;
  }
}

@media (max-width: 1679px) {
  .hero .line-container:nth-child(2) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(2) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(2) {
    top: 30%;
    transform: rotate(78deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(2) {
    top: 35%;
    transform: rotate(81deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(2) {
    top: 40%;
    transform: rotate(84deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(2) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(2) {
    display: none;
  }
}

@media (max-width: 1679px) {
  .hero .line-container:nth-child(3) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(3) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(3) {
    top: 30%;
    transform: rotate(102deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(3) {
    top: 35%;
    transform: rotate(99deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(3) {
    top: 40%;
    transform: rotate(96deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(3) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(3) {
    display: none;
  }
}

@media (max-width: 1679px) {
  .hero .line-container:nth-child(4) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(4) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(4) {
    top: 30%;
    transform: rotate(65deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(4) {
    top: 35%;
    transform: rotate(72deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(4) {
    top: 40%;
    transform: rotate(78deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(4) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(4) {
    display: none;
  }
}

@media (max-width: 1679px) {
  .hero .line-container:nth-child(5) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(5) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(5) {
    top: 30%;
    transform: rotate(115deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(5) {
    top: 35%;
    transform: rotate(108deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(5) {
    top: 40%;
    transform: rotate(102deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(5) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(5) {
    display: none;
  }
}

@media (max-width: 1679px) {
  .hero .line-container:nth-child(6) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(6) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(6) {
    top: 30%;
    transform: rotate(52deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(6) {
    top: 35%;
    transform: rotate(62deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(6) {
    top: 40%;
    transform: rotate(70deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(6) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(6) {
    display: none;
  }
}
@media (max-width: 1679px) {
  .hero .line-container:nth-child(7) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(7) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(7) {
    top: 30%;
    transform: rotate(128deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(7) {
    top: 35%;
    transform: rotate(118deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(7) {
    top: 40%;
    transform: rotate(110deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(7) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(7) {
    display: none;
  }
}
@media (max-width: 1679px) {
  .hero .line-container:nth-child(8) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(8) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(8) {
    top: 30%;
    transform: rotate(39deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(8) {
    top: 35%;
    transform: rotate(50deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(8) {
    top: 40%;
    transform: rotate(59deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(8) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(8) {
    display: none;
  }
}

@media (max-width: 1679px) {
  .hero .line-container:nth-child(9) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(9) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(9) {
    top: 30%;
    transform: rotate(141deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(9) {
    top: 35%;
    transform: rotate(130deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(9) {
    top: 40%;
    transform: rotate(121deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(9) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(9) {
    display: none;
  }
}

@media (max-width: 1679px) {
  .hero .line-container:nth-child(10) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(10) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(10) {
    top: 30%;
    transform: rotate(22deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(10) {
    top: 35%;
    left: 43%;
    transform: rotate(34deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(10) {
    top: 40%;
    left: 36%;
    transform: rotate(49deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(10) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(10) {
    display: none;
  }
}
.hero .line-container:nth-child(10) .animated-line {
  animation-delay: 0.5s;
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(10) .animated-line {
    top: 35%;
    animation-delay: 0s;
  }
}
@media (max-width: 1679px) {
  .hero .line-container:nth-child(11) {
    top: 10%;
  }
}
@media (max-width: 1279px) {
  .hero .line-container:nth-child(11) {
    top: 18%;
  }
}
@media (max-width: 1023px) {
  .hero .line-container:nth-child(11) {
    top: 30%;
    transform: rotate(158deg);
  }
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(11) {
    top: 35%;
    right: 43%;
    transform: rotate(146deg);
  }
}
@media (max-width: 767px) {
  .hero .line-container:nth-child(11) {
    top: 40%;
    right: 36%;
    transform: rotate(131deg);
  }
}
@media (max-width: 479px) {
  .hero .line-container:nth-child(11) {
    top: 36%;
  }
}
@media (max-width: 374px) {
  .hero .line-container:nth-child(11) {
    display: none;
  }
}
.hero .line-container:nth-child(11) .animated-line {
  animation-delay: 0.5s;
}
@media (max-width: 990px) {
  .hero .line-container:nth-child(11) .animated-line {
    animation-delay: 0s;
  }
}
