* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  overflow: visible;
  font-family: "Overpass", sans-serif;

  width: 100%;
}

/* welcome start */

.hero {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-height: 100vh;
  padding-top: 251px;
  padding-bottom: 87px;

  overflow: hidden;
  position: relative;
  /* z-index: 1; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0a0b20;

  /* 1024 width 
  min-height: 600px;
  padding-top: 120px; */
}

.hero::after {
  content: "";
  position: absolute;
  top: -40%;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 55%;
  margin: 0 auto;
  background: url("../img/circle.webp") no-repeat;
  background-size: 100%;
  background-position: center top;
  z-index: 3;
  animation: movecircle 3s linear 1;
}
@keyframes movecircle {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/bg-2.webp") no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: 2;
}

.hero .lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* opacity: 0; */
  transition: 1.5s all ease;
}
.hero .line-container {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
  /* z-index: 5; */
}

.hero .animated-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
  animation: moveLine 3s linear infinite;
}
@keyframes moveLine {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.hero .line-container:nth-child(1) {
  position: absolute;
  top: 21%;
  left: 0;
  transform: rotate(90deg);
}
.hero .line-container:nth-child(2) {
  position: absolute;
  top: 21%;
  left: 4.5%;
  transform: rotate(75deg);
}
.hero .line-container:nth-child(3) {
  position: absolute;
  top: 21%;
  right: 4.5%;
  transform: rotate(105deg);
}
.hero .line-container:nth-child(4) {
  position: absolute;
  top: 21%;
  left: 9.5%;
  transform: rotate(60deg);
}
.hero .line-container:nth-child(5) {
  position: absolute;
  top: 21%;
  right: 9.5%;
  transform: rotate(120deg);
}
.hero .line-container:nth-child(6) {
  position: absolute;
  top: 21%;
  left: 15.8%;
  transform: rotate(45deg);
}
.hero .line-container:nth-child(7) {
  position: absolute;
  top: 21%;
  right: 15.8%;
  transform: rotate(135deg);
}
.hero .line-container:nth-child(8) {
  position: absolute;
  top: 21%;
  left: 25%;
  transform: rotate(30deg);
}
.hero .line-container:nth-child(9) {
  position: absolute;
  top: 21%;
  right: 25%;
  transform: rotate(150deg);
}
.hero .line-container:nth-child(10) {
  position: absolute;
  top: 21%;
  left: 48.5%;
  transform: rotate(15deg);
}
.hero .line-container:nth-child(11) {
  position: absolute;
  top: 21%;
  right: 48.5%;
  transform: rotate(165deg);
}

.hero_inner {
  position: absolute;
}

/* .hero_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  max-height: 1018px;
  overflow: hidden;
  z-index: 0;
}
@media (max-width: 767px) {
  .hero_bg {
    height: 70vh;
  }
}
.hero_bg .img_wrap {
  position: absolute;
} */

/* .bg-svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .bg-svg {
    height: 450px;
    max-height: 450px;
  }
}
.bg-svg svg {
  fill: #2b394f;
} */

/* welcome end */

/*# sourceMappingURL=style.css.map */
